@page
@model Uc_13_Sabrina_Alves_Razor_00001.Pages.ComentariosModel
@{
}

<body style="background-color:lightblue">

    <h1> Comentarios </h1>
    <section class="cards">
        <div class="card">
            <img class="usuarios" src="/imagens/Lisa.jpg" alt="">
            <h3>Elisabete Oliveira</h3>
            <div class="extra1">
            </div>
            <!--Estrela-->

            <p class="Comentario"> Excelente contéudo, tudo muito bom. </p>

        </div>
        <!--Card-->


        <div class="card">
            <img class="usuarios" src="/imagens/Img1.jpg" alt="">
            <h3>Veronica Alves</h3>
            <div class="extra1">
            </div>
            <!--Estrela-->

            <p class=""> Gostei muito da indicação dessa página, irei acessar diariamente </p>

        </div>
        <!--Card-->


        <div class="card">
            <img class="usuarios" src="/imagens/Img2.jpg" alt="">
            <h3>Victor Barbosa</h3>
            <div class="extra1">
            </div>
            <!--Estrela-->

            <p> O meme da Loirrane é muito bom!!! </p>

        </div>
        <!--Card-->
    </section>


</body>
