@page
@model Uc_13_Sabrina_Alves_Razor_00001.Pages.ComentariosModel
@{
}
<body style="background-color:lightcyan">
</body>

<div class="text-center">
    <h1 class="display-4"> Seus comentários </h1>
</div>