@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body style="background-color:lightcyan"></body>
&nbsp
&nbsp

<nav>
    &nbsp
    &nbsp
    &nbsp
    <h2 class="col-xl-11"><strong><em> Meme Lohane Vêkanandre Sthephany Smith Bueno de HA HA HA de Raio Laser bala de Icekiss</em></strong></h2>
      <selection class="subtitulo">
          &nbsp
        &nbsp
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tnmPkiY7Ukk"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </selection>
    &nbsp
    &nbsp
    <div class="Texto">
        <h2 class="col-xl-12"><strong><em>Venha navegar em nossa página e se divertir!!!</em></strong></h2>
      
    </div>

   
</nav>