@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body style="background-color:khaki"></body>

<div class="text-center">
    <h1 class="display-4"> Sua diversão </h1>
</div>
&nbsp
<nav>

    <h2 class="col-xl-11"><strong><em> Meme Lohane Vêkanandre Sthephany Smith Bueno de HA HA HA de Raio Laser bala de Icekiss</em></strong></h2>
      <selection class="subtitulo">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tnmPkiY7Ukk"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </selection>
    <div class="Texto">
        <h2 class="col-xl-12"><strong><em>Venha navegar em nossa página e se divertir!!!</em></strong></h2>
        &nbsp
        <p> Deseja indicações de Serie? Temos aqui </p>
        <p> Deseja indicações de Redes Sociais? Temos aqui </p>
        <p> Deseja ficar ligado nos MEMES? Lógico que temos aqui </p>
    </div>

   
</nav>