@page
@model Uc_13_Sabrina_Alves_Razor_00001.Pages.IndicaçõesModel
@{
}
<body style="background-color:lightblue">
</body>

<div class="text-center">
    <h2 class="col-xl-14"><strong><em> Indicações de diversão </em></strong></h2>
</div>

    <div class="indicacoes">
        <img class="Noticia" src="~/Imagens/Quemé.jpg" /></div>
        &nbsp
        &nbsp
        &nbsp
        &nbsp
<div class="Indic">
<ul>
Links para interação, sites divertidos para acessar :)
        &nbsp
        &nbsp
        &nbsp
        &nbsp
<li>
            <a href="https://rasterbator.net/">
                Faça um pôster imprimível de qualquer imagem
    </a>
</li>
<li>
            <a href="https://giphy.com/explore/paginas">
       Páginas com Gifs muito engraçados.
    </a>
</li>
<li>
            <a href="https://br.pinterest.com/layaneeloisa4/memes/">
       Pinterest somente com imagem e videos de memes
    </a>
</li>
  </ul>
</div>