@page
@model Uc_13_Sabrina_Alves_Razor_00001.Pages.IndicaçõesModel
@{
}
<body style="background-color:lightseagreen">
</body>

<div class="text-center">
    <h1 class="display-4"> Indicações de diversão </h1>
</div>