@page
@model Uc_13_Sabrina_Alves_Razor_00001.Pages.MemesModel
@{
}
<body style="background-color:lightsalmon"></body>

    <div class="text-center">
    <h1 class="display-4"> Memes do Dia  </h1>
    </div>
