@page
@model Uc_13_Sabrina_Alves_Razor_00001.Pages.MemesModel
@{
}
<body style="background-color:lightsalmon"></body>

<div class="text-center">
    <h2 class="col-xl-15"><strong><em> Memes do Dia </em></strong></h2>
    </div>

<body>

    <section class="Sobre">
                <div class="Noticia">
                    <selection class="subtitulo">
                        &nbsp
                        &nbsp
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/jhgcATl8pQk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                        encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </selection>
                </div>

                <div class="Memes">
                <p>
                        Você provavelmente já deve ter visto este vídeo rodando pelo Instagram e Twitter e até compartilhado. 
                        São vários trechos divertidos em que Bob Nunes entrevista de forma bem humorada as amigas Josy Babado, 
                        Tiaga e Domdom. O que você ainda não sabe é  que o vídeo nasceu de uma situação inusitada. 
                       
                       "Se eu for ligar pro que o povo diz de mim e da minha amiga Tiaga, a gente vai ficar louca e a gente não 
                       nasceu pra ficar louca, a gente nasceu pra brilhar e ser estrelas na nossa cidade". Inclusive vários artistas 
                       como Marcus Majela, Carlinhos Maia e os irmãos Wilou e Watson já reproduziram trechos da entrevista em seus perfis 
                       do Tik Tok. O áudio foi um dos mais postados na rede durante 2020. 
                   </p>
                   
                </div>


            </div>
            <!--ctexto sobre-->
        </div>
        <!--centro-->
    </section>
</body>