@page
@model Uc_13_Sabrina_Alves_Razor_00001.Pages.NoticiaModel
@{
}
<body style="background-color:lightblue">
</body>

<div class="text-center">
    <h2 class="col-xl-14"><strong><em> Noticia do Dia </em></strong></h2>
</div>


<body>

    <section class="Sobre">
        <div class="centro">
            <div class="texto-sobre">
                <h1>Os memes que mais<br /> Na internet em 2022 <span style="color: darkred;"> BOMBARAM </span></h1>   
                <div class="Noticia">
                    <img class="Noticia" src="~/Imagens/Will.jpg" />
                </div>

                <p>
                    Como esquecer o polêmico tapa de Will Smith em Chris Rock durante o Oscar 2022? Não foram só a carreira do ator e
                    a cara do comediante que ficaram marcadas pelo incidente.
  
                </p>


            </div>
            <!--ctexto sobre-->
        </div>
        <!--centro-->
    </section>
</body>

