@page
@model Uc_13_Sabrina_Alves_Razor_00001.Pages.NoticiaModel
@{
}
<body style="background-color:lightblue">
</body>

<div class="text-center">
    <h1 class="display-4"> Noticia do Dia  </h1>
</div>