@page
@model Uc_13_Sabrina_Alves_Razor_00001.Pages.ObjetivoModel
@{
}
<body style="background-color:lightgoldenrodyellow">
</body>

<div class="text-center">
    <h1 class="display-4"> Nosso objetivo </h1>
</div>