@page
@model Uc_13_Sabrina_Alves_Razor_00001.Pages.ObjetivoModel
@{
}
<body style="background-color:lightgoldenrodyellow">
</body>

<div class="text-center">
    <h2 class="col-xl-13"><strong><em> Nosso objetivo </em></strong></h2>
    &nbsp
    &nbsp
    &nbsp
    &nbsp
</div>

<nav>
    &nbsp
    &nbsp
    <div class="Objetivo">
        &nbsp
        &nbsp
        &nbsp
        <img src="~/Imagens/Img1.jpg" />
    </div>

    <div class ="ObjTexto">
        &nbsp
        &nbsp
        &nbsp
    <p> Como forma de se expressar e melhorar o humor das pessoas, os memes tem se tornado cada vez mais comum durante a utilização das redes sociais, deixando de ser 
        restrito apenas a esse local, e se estabelecendo como uma nova forma de comunicação em outros âmbitos.</p>
        <p>Nosso objetivo é ajudar você a ter uma experência agradavél e divertidade em nosso site, conseguindo explorar
           esse mundo da internet
         </p>
    </div>
</nav>

