@page
@model Uc_13_Sabrina_Alves_Razor_00001.Pages.RedesModel
@{
}
<body style="background-color:lightslategrey">
</body>

<body style="background-color:lightblue">
    <h1> Indicações de Rede Social </h1>
    <section class="cards">
        <div class="card">
            <img class="usuarios" src="/imagens/chapolin.jpg" alt="">
            <h3>chapolinoficial</h3>
            <div class="extra1">
            </div>
            <!--Estrela-->

            <p class="Comentario"> Rede social do instragam, é lançado memes </p>

        </div>
        <!--Card-->


        <div class="card">
            <img class="usuarios" src="/imagens/chapolin.jpg" alt="">
            <h3>chapolinoficial</h3>
            <div class="extra1">
            </div>
            <!--Estrela-->

            <p class=""> Rede social do instragam, é lançado memes </p>

        </div>
        <!--Card-->


        <div class="card">
            <img class="usuarios" src="/imagens/chapolin.jpg" alt="">
            <h3>chapolinoficial</h3>
            <div class="extra1">
            </div>
            <!--Estrela-->

            <p> Rede social do instragam, é lançado memes </p>

        </div>
        <!--Card-->
    </section>


</body>