@page
@model Uc_13_Sabrina_Alves_Razor_00001.Pages.RedesModel
@{
}
<body style="background-color:lightslategrey">
</body>

<div class="text-center">
    <h1 class="display-4"> Indicações de Redes sociais </h1>
</div>